[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptvsd = "*"
pylint = "*"
pylint-django = "*"

[packages]
celery = "*"
django = "*"
django-cors-headers = "*"
django-rest-auth = "*"
djangorestframework = "*"
fastparquet = {git = "https://github.com/dask/fastparquet.git",ref = "master"}
numpy = "*"
pandas = "*"
psycopg2 = "*"
pyedflib = "*"
python-snappy = "*"
redis = "*"
scipy = "*"

[requires]
python_version = "3.7"
